*{
  padding: 0;
  margin: auto;
  box-sizing: border-box;
}

:root{
  --color_barra: #ffffff;
}
.navegacion_Contenedor {
  background-color: #924ef1;
  color: var(--color_barra);
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  padding: 1rem 2rem;
  box-shadow: #000000 0px 10px 30px;
}
.navegacion__enlaces a{
  color:var(--color_barra);
  text-decoration: none;
  margin: 15px;
}
.tarjeta img{
  padding: 10px;
  width: 150px;
  height: 190px;

}
h2{
  color: var(--color_barra);
  text-align: center;
}
.tarjeta{
  background-color: #ab78f3e7;
  padding: 20px;
  margin:30px;
  width: 200px;
  height:460px;
  border-radius: 30px;
  color: var(--color_barra);
}
.tarjetas_contenedor{
  display: flex;
  justify-content: center;
}

h3{
  margin: 10px;
  display: flex;
  justify-content: center;
  color:white;
}

.boton_comprar{
  width: 100px;
  height: 25px;
  text-align: center;
  color: #000000;
  border: none;
  border-radius: 30px;
  display: flex;
  justify-items: center;
  justify-content: center;
  padding: 5px;
}

.contenedor_galeria{
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  background-color: #ab78f3e7;
  height: 300px;
  width: 80%;
  border-radius: 30px;
  box-shadow: #000000 0px 10px 30px;
}
.contenedor_galeria img{
  border-radius: 10px;

}

